<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card tex-center">
                <div class="card-body">
                    <h3>Welcome {{user.username}}</h3>
                    <h4>{{user.email}}</h4>
                    <a href="/leaf" class="btn   btn-primary m-4">
                        Save Your Sickness Cotton Leaf
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>